.row {  
  --#{$prefix}-gutter: #{$grid-gutter};
  --#{$prefix}-gutter-y: #{calc($grid-gutter * 0.5)};
  --#{$prefix}-gutter-x: 0;

  display: flex;
  flex-wrap: wrap;
  margin: var(--#{$prefix}-gutter-y) var(--#{$prefix}-gutter-x);

  & > * {
    padding-inline: calc(var(--#{$prefix}-gutter, #{$grid-gutter}) * 0.5);
    flex: 1 0 0%;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $breakpoint-suffix: get_breakpoint_suffix($breakpoint, $grid-breakpoints);

    @include responsive-content($breakpoint, $grid-breakpoints) {
      @for $i from 1 through $grid-columns {
        .column#{$breakpoint-suffix}-#{$i} {
          flex: 0 0 auto;
          width: #{percentage(calc($i / $grid-columns))};
        }
      }
    }
  }
}
